[Unit]
Description=executor server
PartOf=infra.service

[Service]
KillMode=process
TimeoutStartSec=0
EnvironmentFile=/etc/base_config.env
EnvironmentFile=-{{ config_env_file }}
EnvironmentFile=-{{ app_config }}/minio.env
ExecStartPre=-mkdir -pv /mnt/tmp/boots /mnt/tmp/gitlab-runner
ExecStartPre=-touch /mnt/tmp/gitlab-runner/config.toml
ExecStartPre=-touch /mnt/permanent/mars_db.yaml
ExecStart=executor
Restart=on-failure
RestartSec=4s

[Install]
WantedBy=infra.service
