[Unit]
Description=fdo proxy registry service
PartOf=infra.service

[Service]
ExecStartPre=-mkdir -pv {{ registry_mount }}
ExecStartPre=-chown registry:registry {{ registry_mount }}
ExecStart=/usr/bin/su registry -s /bin/bash -c "/usr/local/bin/registry serve /etc/docker/registry/fdo-proxy-registry_config.yml"
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=infra.service
