version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: {{ registry_mount }}
http:
  addr: :{{ fdo_proxy_registry_port }}
  headers:
    X-Content-Type-Options: [nosniff]
proxy:
  remoteurl: https://registry.freedesktop.org
