#!/bin/sh

set -eu

if ! hash mcli; then
	echo "mcli not found, and is required"
	exit 1
fi

upload_to_minio_if_missing() {
    url="$1"
    path="minio$2"

    mcli stat "$path" > /dev/null 2> /dev/null || {
        local_file=$(mktemp)
        curl -Lo "$local_file" "$url"
        mcli cp "$local_file" "$path"
        rm "$local_file"
    }
}

for try in $(seq 1 20); do

	if mcli alias set minio http://localhost:{{ minio_port }} "$MINIO_ROOT_USER" "$MINIO_ROOT_PASSWORD"; then
		break
	fi

	if [ "${try}" -eq 20 ]; then
		echo "failed waiting for minio server";
		exit 1
	fi

	printf "minio server not responding, try %s of 20...\n" "$try"
	sleep 1

done

mcli mb --ignore-existing minio/jobs minio/boot/

# set bucket permission and validate that it was configured correctly
# see: https://gitlab.freedesktop.org/mupuf/valve-infra/-/issues/125
for bucket in minio/boot minio/jobs; do
	mcli anonymous set public "$bucket"
	# grepping the permission from command output is not great, since mcli has
	# already changed output in the past, but until a better way is identified
	# this will have to do for now
	if ! mcli anonymous get "$bucket" | grep -q public; then
		echo "ERROR: bucket $bucket does not appear to be 'public'!"
		exit 1
	fi
done

if [ -n "${VALVETRACES_MINIO_PASSWORD:-}" ]; then
    # Create a valvetraces bucket and user
    mcli mb --ignore-existing minio/valvetraces
    mcli admin user add minio valvetraces "$VALVETRACES_MINIO_PASSWORD"
    mcli admin policy add minio u_valvetraces /etc/minio/valvetraces.json
    mcli admin policy set minio u_valvetraces user=valvetraces

    # Create a valvetraces-ro group, and add the valvetraces user to it
    mcli admin group add minio valvetraces-ro valvetraces
    mcli admin policy add minio g_valvetraces-ro /etc/minio/valvetraces-ro.json
    mcli admin policy set minio g_valvetraces-ro group=valvetraces-ro
fi

# Download a default kernel and initramfs for our infra
upload_to_minio_if_missing "{{ b2c_url }}" /boot/b2c_initrd_"{{ b2c_release }}"
mcli cp minio/boot/b2c_initrd_"{{ b2c_release }}" minio/boot/default_boot2container.cpio.xz

upload_to_minio_if_missing "{{ kernel_url }}" /boot/kernel_"{{ kernel_release }}"
mcli cp minio/boot/kernel_"{{ kernel_release }}" minio/boot/default_kernel
