[Unit]
Description=virtual PDU service
Wants=network.target

[Service]
Type=simple
Environment=VPDU_DIR=/mnt/tmp/vpdu PYTHONUNBUFFERED=1
ExecStartPre=-mkdir -p "$VPDU_DIR"
ExecStartPre=chown -R vpdu "$VPDU_DIR"
ExecStart=-su vpdu -s /bin/bash -c "/usr/local/bin/vpdu --bridge {{ vpdu_bridge }}"

[Install]
WantedBy=multi-user.target
